asgiref==3.8.1
certifi==2024.7.4
charset-normalizer==3.3.2
defusedxml==0.7.1
Django==5.0.6
django-appconf==1.0.6
django-rest-framework==0.1.0
django_compressor==4.5
djangorestframework==3.15.2
dnspython==2.6.1
email_validator==2.1.1
httpie==3.2.2
idna==3.7
markdown-it-py==3.0.0
mdurl==0.1.2
multidict==6.0.5
Pygments==2.18.0
PyJWT==2.8.0
PySocks==1.7.1
rcssmin==1.1.2
requests==2.32.3
requests-toolbelt==1.0.0
rich==13.7.1
rjsmin==1.2.2
sqlparse==0.5.0
typing_extensions==4.12.2
urllib3==2.2.2
